<!DOCTYPE html>

<div class="grid__item">
	<h2>{{project.title}}</h2>
	<img
		src="/static/img/projects/{{project['img_filename']}}"
		alt="{{project.title}} Image"
		class="project-image-sm" />
	<p>{{replace_func(project.short_description) | safe}}</p>

	<a href="{{project.title}}" class="grid-link">Click here to learn more!</a>
	<br />
	<a href="{{project.live_link}}" class="grid-link"
		>{{project.live_link_description}}</a
	>
	<br />
	<a href="{{project.repo_link}}" class="grid-link"
		>{{project.repo_link_description}}</a
	>
</div>
