:root {
    --primary-color: #2c3531;
    --secondary-color: #116466;
    --tertiary-color: #d9b08c;
    --primary-trim: #ffcb9a;
    --secondary-trim: #d1e8e2;

    --old-primary: #282c34;
    --old-secondary: #46b5c0;
    --old-nav: #cbc10e;
    --old-trim: #0f5;
    --old-alt: #606060;
}

html {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 1.1rem;
    /*font-family: monospace;*/
    font-family: "Dosis", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    box-sizing: border-box;
    width: 80%;
    min-height: 98vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main_nav {
    width: 100%;
    border-top: 2px solid var(--secondary-color);
}

.main_links {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.main_links li {
    text-decoration: none;
    text-align: center;
    color: var(--secondary-trim);
    display: inline-block;
    height: 1.5rem;
    flex: 1 0 auto;
    padding-top: 0.5rem;
}

.navlink {
    text-decoration: none;
    color: var(--secondary-trim);
    display: inline-block;
    height: 1.5rem;
    flex: 1 0 auto;
    padding-top: 0.5rem;
}

.navlink:hover {
    color: var(--primary-trim);
    background: var(--secondary-color);
}

.navlink:visited {
    color: var(--secondary-trim);
}

.main_title {
    text-align: center;
    margin: auto;
}

p {
    font-style: italic;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.i-am,
.i-like {
    text-align: center;
    text-decoration: none;
}

.about-list {
    list-style: none;
    padding: 0;
}

.intro {
    text-align: center;
}
