/* 1 || Universal*/
:root {
    /* Steel Blue Pallete */
    --dark: #1b3246;
    --medium: #4682b4;
    --light: #b2cce1;

    --primary-accent: #b4af46;
    --secondary-accent: #b4464b;

    --default-border-radius: 25px;
}

* {
    box-sizing: border-box;
}

/* 2 || Document */
html,
body {
    height: 100%;
}
/* 3 || Metadata */

/* 4 || Sections */
body {
    /* Base || Colors*/
    background-color: var(--light);
    color: black;

    /* || Fonts*/
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 18px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */

    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
    margin: 0 auto;
}

/* 5 || Headings */
h1 {
    font-size: 30px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

/* 6 || Lists */
/* 7 || Media */

/* 8 || Forms */
.button,
button {
    /* overwrites browser defaults */
    /* resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: var(--dark);
    border-radius: 3px;
    color: white;
    padding: 10px;
    text-decoration: none;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 1s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 75% */
    opacity: 0.75;
}

/* 9 || Tables */

/* 10 || Phrasing */
a {
    color: var(--dark);
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:hover {
    /* background: var(--primary-accent); */
    color: black;
}

.navlink:hover {
    border-top: 2px solid var(--primary-accent);
    color: var(--light);
    background: none;
}

/* 11 || Misc. */

/*12 || Attributes */
/* Section || Page Header*/

.page-header {
    background-color: var(--dark);
    color: white;
    display: flex;
    width: 100%;
    padding: 0px 25px 0px 25px;
}

.page-header__item {
    flex: 0 1 200px;
    color: white;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/* Page Header || Navigation*/
.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navlink {
    font-size: 24px;
    color: var(--light);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.button-dropdown {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    font-size: 24px;
    border-bottom: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    min-width: 60px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--dark);
    padding: 16px 16px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .button-dropdown {
    background-color: var(--primary-accent);
    color: var(--dark);
}

/* Section || Body */
.content {
    flex: 1 0 auto;
}

/* Section || Footer */
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
}

/* Main || Portrait */
.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

/* Main || Experience Table */
.experience {
    text-align: center;
    margin: 0 auto;
}

.experience-table {
    margin: 0px auto;
    width: 25%;
}

.profile-main {
    max-width: 700px;
    margin: 0 auto;
}

/* Main || Grids*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 25px 0px 25px;

    text-align: center;
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}

.grid__item {
    background-color: var(--medium);
    border-radius: 30px;
    opacity: 100%;
    width: auto;
    min-height: auto;
    margin: 0;

    /* Start styling */
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.grid-link {
    color: white;
}

.project-image,
.project-image-xs,
.project-image-sm,
.project-image-lg {
    border-radius: var(--default-border-radius);
    border: 1px solid lightgray;
}

.project-image-lg {
    /* Full Size Image*/
    height: 500px;
    width: 500px;
}

.project-image {
    /* 75% Size */
    height: 375px;
    width: 375px;
}

.project-image-sm {
    /* 50% Size */
    height: 250px;
    width: 250px;
}

.project-image-xs {
    /* 25% Size */
    height: 125px;
    width: 125px;
}

/* Base || Media */
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
