<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<h1>Add a Project!</h1>

<form action="/project/add" id="project_add" name="project_add" method="post">
    {{form.csrf_token}}
    <div class="container">
        <div class="form-group wtform_field row">
            {{form.title.label(class_="col-1")}}{{form.title(class_="form-control",
            size=32, maxlength=64)}}
        </div>
        <div class="form-group wtform_field row">
            {{form.repo_link.label(class_="col-1")}}
            {{form.repo_link(class_="form-control", size=32, maxlength=256)}}
        </div>
        <div class="form-group wtform_field row">
            {{form.live_link.label(class_="col-1")}}
            {{form.live_link(class_="form-control", size=32, maxlength=256)}}
        </div>
        <div class="form-group wtform_field row">
            {{form.description.label(class_="col-1")}}
            {{form.description(class_="form-control", rows=10, maxlength=8192)}}
        </div>
        <div class="form-group wtform_field row">
            {{form.portrait_filename.label(class_="col-1")}}
            {{form.portrait_filename(class_="form-control", size=32,
            maxlength=128)}}
        </div>
    </div>
    <br />
    <br />
    {{form.submit}}
</form>

{% endblock %}
