<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<!-- Main content -->
<main class="work-main">
    <h1>My Projects!</h1>
    <div class="grid">
        <!-- Grid items will live here -->
        <div class="grid__item">
            <h2>Example Project 1</h2>
            <img
                src="https://via.placeholder.com/150"
                alt="Project Image Placeholder" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget
                sit amet tellus cras adipiscing enim eu turpis.
            </p>
            <a href="#" class="grid-link">Check out the project on GitHub</a>
        </div>
        <div class="grid__item">
            <h2>Example Project 2</h2>
            <img
                src="https://via.placeholder.com/150"
                alt="Project Image Placeholder" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget
                sit amet tellus cras adipiscing enim eu turpis.
            </p>
            <a href="#" class="grid-link">Check out the project on GitHub</a>
        </div>
        <div class="grid__item">
            <h2>Example Project 3</h2>
            <img
                src="https://via.placeholder.com/150"
                alt="Project Image Placeholder" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget
                sit amet tellus cras adipiscing enim eu turpis.
            </p>
            <a href="#" class="grid-link">Check out the project on GitHub</a>
        </div>
        <div class="grid__item">
            <h2>Example Project 4</h2>
            <img
                src="https://via.placeholder.com/150"
                alt="Project Image Placeholder" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget
                sit amet tellus cras adipiscing enim eu turpis.
            </p>
            <a href="#" class="grid-link">Check out the project on GitHub</a>
        </div>
        <div class="grid__item">
            <h2>Example Project 5</h2>
            <img
                src="https://via.placeholder.com/150"
                alt="Project Image Placeholder" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget
                sit amet tellus cras adipiscing enim eu turpis.
            </p>
            <a href="#" class="grid-link">Check out the project on GitHub</a>
        </div>
    </div>
</main>

{% endblock %}
