{% extends "partials/base.html" %}

{% block main %}

<h1> Please note that this site is a WIP!</h1>

<h2>About Me!</h2>
<h3>Hi, I'm Steven, welcome to my site.</h3>
The RR in the title is short for Rocin Rykor, aka my online handle.

<h3>What is this site?</h3>
This site is a collection of the projects that I have made, either for my own use or for educational purposes.
The aim of the site is both personal and professional in nature.
On the personal side, I want to be able to look back at the things I have made and see the growth that I have made along the way.
Professionally, I want top be able to showcase what I have done in a portfolilo towards a web-developer career.

<h3>Want to learn more?</h3>
The links at the top will take you to pages about my projects.
If you are interested in the code that makes these work, each page should also include a link to the GitHub repo.
In the About section you can find information regarding my curent Resume/CV as well as a way to contact me.

{% endblock %}
