<header>
    <h1 class="main_title">RRPROJECTS.STUDIO</h1>
<nav class="main_nav">
    <ul class="main_links">
        <li><a href="/" class="navlink" title="Return Home">Home</a></li>
        <li><a href="/decrypt" class="navlink" title="Decrypt Discord Bot">Decrypt Bot</a></li>
        <li><a href="#" class="navlink" title="RunnerBuddy - Shadowrun 3e Character Manager">RunnerBuddy</a></li>
        <li><a href="/characters" class="navlink" title="View our Shadowrun Characters">Characters</a></li>
        <li><a href="#" class="navlink" title="About Me">About</a></li>
    </ul>
</nav>
</header>
